TIKTOK_VIDEO_CONCURRENCY=2
TIKTOK_COMMENT_CONCURRENCY=2
TIKTOK_REQUEST_DELAY_MS=500

MAX_COMMENTS_PER_VIDEO=1000
MAX_COMMENT_PAGES=20

MAX_RETRIES=3
REQUEST_TIMEOUT_MS=120000

DATA_DIR=./data

HEADLESS=true
# Optional custom ffprobe path if not in system PATH
FFPROBE_PATH=C:\Users\ngkhh\AppData\Local\Microsoft\WinGet\Packages\Gyan.FFmpeg.Essentials_Microsoft.Winget.Source_8wekyb3d8bbwe\ffmpeg-9.0.1-essentials_build\bin\ffprobe.exe
